
body{
    background: turquoise;
    display:grid;
    place-items: center;
    height:100vh;
    margin:0;
}
.card{
    background: white;
    border-radius: 4px;
    height: 85vh;
    width: 80vw;
    box-shadow: rgb(117, 50, 205);
    
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;

}
@media only screen and (min-width: 1000px) {
    .card {
      flex-direction: row-reverse;
    }
    .card img.birthday {
      width: 100%;
      max-width: 50vw;
      max-height: unset;
    }
  }
  
  @media only screen and (max-height: 640px) {
    .card {
      flex-direction: row-reverse;
    }
    .card img.birthday {
      width: 100%;
      max-width: 50vw;
      max-height: unset;
    }
  }
  
  img.birthday {
    max-height: 40vh;
  }
  
  .text {
    padding: 1em;
  }
  
  .muted {
    opacity: 0.8;
  }
  
  .space {
    height: 100px;
  }